public/items/pickaxe.png filter=lfs diff=lfs merge=lfs -text
public/stage_00004.mp3 filter=lfs diff=lfs merge=lfs -text
public/videoMinecraft.gif filter=lfs diff=lfs merge=lfs -text
public/bookBG.png filter=lfs diff=lfs merge=lfs -text
site/public/items/pickaxe.png filter=lfs diff=lfs merge=lfs -text
site/public/stage_00004.mp3 filter=lfs diff=lfs merge=lfs -text
site/public/videoMinecraft.gif~ filter=lfs diff=lfs merge=lfs -text
