---
name: Update

"on":
  workflow_dispatch:
  pull_request:
    branches-ignore:
      - "release-please--**"
    types:
      - closed
      - opened
      - synchronize
      - reopened

concurrency:
  group: >
    ${{ github.workflow }}-
    ${{ github.ref }}-
    ${{ contains(github.actor, 'darcusk') }}
  cancel-in-progress: true

jobs:
  update:
    name: Update LFS and Packwiz
    runs-on: ubuntu-latest
    if: |
      github.event.action != 'closed'
      && !contains(github.actor, 'darcusk')
    outputs:
      changes_detected: ${{ steps.autocommit.outputs.changes_detected }}
      commit_hash: ${{ steps.autocommit.outputs.commit_hash }}
    steps:
      - name: Generate token
        uses: actions/create-github-app-token@v1
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ steps.generate-token.outputs.token }}
          fetch-depth: 1
          lfs: false
          ref: ${{ github.head_ref }}

      - name: Cache Git LFS
        uses: actions/cache@v4.2.3
        with:
          path: .git/lfs
          key: lfs-${{ runner.os }}-${{ hashFiles('**/.gitattributes') }}
          restore-keys: lfs-${{ runner.os }}-

      - name: Set up LFS tracking
        run: |
          git lfs pull
          > .gitattributes
          find . -path './.git' -prune -o -type f -size +0c -exec file --mime {} + |
          awk -F: '/binary/ {print $1}' |
          sed -n 's/.*\.\([^.]*\)$/\1/p' |
          sort -u |
          xargs -I{} git lfs track "*.{}"
          echo "* text=lf" >> .gitattributes

      - name: Validate LFS pointers
        run: git lfs fsck --pointers
        shell: sh

      - name: Setup Go
        uses: actions/setup-go@v5.5.0
        with:
          go-version: "1.23.3"
          token: ${{ secrets.PAT }}

      - name: Install packwiz and refresh manifests
        run: |
          go install github.com/packwiz/packwiz@latest
          for pack in $(find packs -mindepth 1 -maxdepth 1 -type d -print); do
            (cd "$pack";
             echo > index.toml;
             packwiz refresh -y)
          done

      - name: Prepare commit
        run: sudo chown -Rc $UID .git/

      - name: Commit and push updates
        id: autocommit
        uses: stefanzweifel/git-auto-commit-action@v5.0.1
        with:
          branch: ${{ github.head_ref }}
          commit_user_name: ${{ vars.BOT_NAME }}
          commit_user_email: ${{ vars.BOT_EMAIL }}
          commit_author: ${{ vars.BOT_NAME }} <${{ vars.BOT_EMAIL }}>
          commit_message: "chore: update packwiz manifests"
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}